@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Kanit", sans-serif;
    text-decoration: none;
    list-style: none;
}

body {
    background-color: var(--);
}

:root {
    --primario: #4f7d5f;
    --secundario: #c0d8c8;
    --contraste: #67597a;
    --black: #131415;
    --white: #ffffff;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 100px;
}

.section-container {
    background-color: var(--primario);
}

.section-container2 {
    background-color: var(--secundario);
}

.section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 70px 0;
    width: 95%;
    max-width: 1300px;
}

button {
    background-color: var(--contraste);
    border: 0px solid black;
    outline: none;
    width: 190px;
    height: 40px;
    color: var(--black);
    cursor: pointer;
    font-weight: 700;
    font-size: 14px;
    transition: all 0.4s linear;
    border-radius: 10px;
}

button:hover {
    background-color: hsla(265, 16%, 41%, 0.664);
    transition: all 0.4s linear;
    color: var(--black);
}

.section-title {
    font-weight: 700;
    font-size: 32px;
}

.section-p {
    font-size: 14px;
    font-weight: 300;
}

/* *HEADER* */
.header-container {
    position: sticky;
    top: 0%;
    z-index: 444;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    max-width: 1300px;
    padding: 0px 80px 0 50px;
    height: 100px;
    background-color: var(--primario);
}

.logo-container img {
    height: 60px;
}

.logo-container {
    display: flex;
    align-items: center;
}

.navbar-btn {
    cursor: pointer;
    color: var(--black);
}

.navbar-list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
}

.navbar-link a {
    color: var(--black);
    font-weight: 500;
    font-size: 22px;
}

.navbar-login {
    display: none;
}

#toggle-menu {
    display: none;
}

.navbar i {
    font-size: 30px;
    cursor: pointer;
    display: none;
    color: var(--black);
}

.user-container i {
    font-size: 30px;
}

.user-container {
    display: flex;
}

@media (max-width: 992px){
    .header {
    padding: 0px 30px 0px 10px;
    }

    .navbar i {
        display: block;
    }

    .navbar-list {
        position: absolute;
        background-color: var(--primario);
        flex-direction: column;
        top: 100px;
        right: 0;
        width: 100%;
        height: calc(100vh - 100px);
        display: none;
        z-index: 444;
    }

    .user-container {
        display: none;
    }

    .navbar-login {
        display: block;
    }

    #toggle-menu:checked + .navbar-list {
        display: flex;
    }
}

/* Hero */
#hero {
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
    padding: 70px 50px;
}

.hero-container {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.text-container {
    max-width: max(40%,300px);
}

.text-container h1 {
    font-weight: 900;
    font-size: 60px;
    line-height: 60px;
    color: var(--black);
}

.text-container p {
    font-weight: 400;
    font-size: 24px;
    color: var(--black);
    padding-top: 10px;
}

.hero-img {
    background-image: url(./img/pexels-cottonbro-4507743-removebg-preview.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    min-width: 350px;
    width: 30%;
    height: 400px;
    border-radius: 10px;
}

@media (max-width: 768px) {
    .hero-img {
        display: none;
    }

    .hero-container {
        justify-content: center;
        align-items: center;
    }

    .text-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
}

/* Nosotros */
#about-us {
    gap: 15%;
    flex-wrap: wrap;
}

.aboutus-img {
    background-image: url(./img/aboutusimg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    width: 400px;
}

.about-text {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.about-text p {
    max-width: max(60%, 600px);
}

@media (max-width: 768px) {
    #aboutus {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: 30px;
    }

    .about-text {
        display: flex;
        align-items: center;
    }

    .section-p {
        max-width: 350px;
    }
}

/* Products */
#products {
    display: flex;
}

.section-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 70px 0;
    width: 95%;
    max-width: 1300px;
    gap: 70px;
}

.title-container {
    display: flex;
    justify-content: space-around;
    gap: 25%;
    width: 100%;
}

.products-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 90%;
    gap: 90px;
    text-align: center;
}

.product {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    border: 3px solid var(--primario);
    border-radius: 10px;
    padding: 2rem;
    gap: 1rem;
    background-color: var(--primario);
}

.product-img1 {
    background-image: url(./img/product1.png);
    height: 200px;
    width: 200px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.product-img2 {
    background-image: url(./img/product2.png);
    height: 200px;
    width: 200px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.product-img3 {
    background-image: url(./img/product3.png);
    height: 200px;
    width: 200px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.product-img4 {
    background-image: url(./img/product4.png);
    height: 200px;
    width: 200px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.product-img5 {
    background-image: url(./img/product5.png);
    height: 200px;
    width: 200px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.product-img6 {
    background-image: url(./img/product6.png);
    height: 200px;
    width: 200px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.product-img7 {
    background-image: url(./img/product7.png);
    height: 200px;
    width: 200px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.product-img8 {
    background-image: url(./img/product8.png);
    height: 200px;
    width: 200px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.product-img9 {
    background-image: url(./img/product9.png);
    height: 200px;
    width: 200px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.product span {
    height: 20px;
    width: 80px;
    color: var(--black);
    font-weight: 500;
    background-color: var(--contraste);
    border-radius: 20px;
    cursor: pointer;
}

@media (max-width: 768px) {
    .title-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        gap: 40px;
    }
    .products-container {
        display: flex;
        flex-direction: column;
        gap: 50px;
    }
}

/* Contactus */
#contactus {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    max-width: 1300px;
}

label {
    font-size: 14px;
}

.form {
    display: flex;
    flex-direction: column;
}

.form label {
    font-weight: 500;
}

input, textarea {
    margin-bottom: 20px;
}


@media (max-width: 768px) {
    #contactus {
        display: flex;
        flex-direction: column;
        gap: 40px;
    }
}